# Copy to `.env` and fill in the values. See docs/setup/02_CONFIG.md

# pet name
NAME=

# LAN
NETWORK_NAME=

# db details
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# app details
SERVER_IP=
SERVER_PORT=

# self-signed certs
SSL_CERTFILE=
SSL_KEYFILE=

# keys
OPENAI_API_KEY=
