# Copy to `.env` and fill in the values. See docs/setup/CONFIG.md

# pet name
NAME=Scooby

# LAN
NETWORK_NAME=my-home-wifi

# db details
DB_HOST=localhost
DB_PORT=5432
DB_NAME=photoapp
DB_USER=photoapp_user
DB_PASSWORD=nottherealpassword

# app details
SERVER_IP=0.0.0.0
SERVER_PORT=8000

# self-signed certs
SSL_CERTFILE=certs/cert.pem
SSL_KEYFILE=certs/key.pem
